salesforcerestapi/force-app/main/default/flows/IntegromatFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callingapex</name>
        <label>callingapex</label>
        <locationX>757</locationX>
        <locationY>67</locationY>
        <actionName>postContactData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>succsess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Enter_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fname</name>
            <value>
                <elementReference>Enter_First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lname</name>
            <value>
                <elementReference>Enter_Last_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>succsess</name>
        <label>success</label>
        <locationX>386</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callingapex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dispLa</targetReference>
            </connector>
            <label>isSuccess</label>
        </rules>
    </decisions>
    <interviewLabel>IntegromatFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IntegromatFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>508</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>callingapex</targetReference>
        </connector>
        <fields>
            <name>Enter_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Email</name>
            <dataType>String</dataType>
            <fieldText>Enter Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>dispLa</name>
        <label>dispLa</label>
        <locationX>791</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 231, 75); font-size: 16px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_First_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Enter_Last_Name</elementReference>
        </value>
    </variables>
</Flow>
